@import "../utilities/variables.scss";
@import "../utilities/placeholders.scss";

.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: rgba($color: $color-text-light, $alpha: 0.15);
    color: $color-text-light;
    &:focus {
      outline: none;
    }
  }
}

input::placeholder,
textarea::placeholder {
  color: $color-text-light;
  @extend %text-xs;
  font-family: $font-text;
}
