@import "../utilities/placeholders.scss";
@import "../utilities/variables.scss";

.header {
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0f192d;
  opacity: 0.95;
  padding: 10px;
  z-index: 1000;
  .header-wrapper {
    justify-content: space-between;
  }
  .header-nav {
    width: 70%;
    align-items: center;
    justify-content: space-between;

    .link-item {
      @extend %h4;
      color: $color-text-light;
      font-family: $font-accent;
      max-width: fit-content;
      width: 100%;
      &:hover,
      &.active {
        color: $color-secondary;
      }
      &.active {
        font-family: $font-title;
      }
      &-CityGuide {
        @extend %h2;
        color: $color-secondary;
        font-family: $font-title;
      }
    }
  }
}
