@import "../utilities/placeholders.scss";
@import "../utilities/variables.scss";

.signin-button {
  cursor: pointer;
  @extend %h4;
  padding: 10px 15px;
  border: 0px;
  border-radius: 10px;
  background: $color-text;
  color: white;
}
