@import "../utilities/variables.scss";
@import "../utilities/placeholders.scss";

.account {
  margin: 15vh auto 20vh auto;
  &__title {
    @extend %h2;
    color: $color-primary;
    font-family: $font-title;
    margin-bottom: 50px;
  }
}
