@font-face {
  font-family: "Nunito-Bold"; /*Can be any text*/
  src: local("Nunito-Bold"),
    url("./assets/fonts/Nunito-Bold.woff") format("woff");
}

@font-face {
  font-family: "Nunito-Bold"; /*Can be any text*/
  src: local("Nunito-Bold"),
    url("./assets/fonts/Nunito-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito-Medium"; /*Can be any text*/
  src: local("Nunito-Medium"),
    url("./assets/fonts/Nunito-Medium.woff") format("woff");
}

@font-face {
  font-family: "Nunito-Medium"; /*Can be any text*/
  src: local("Nunito-Medium"),
    url("./assets/fonts/Nunito-Medium.woff") format("woff2");
}

@font-face {
  font-family: "PTSans-Bold"; /*Can be any text*/
  src: local("PTSans-Bold"),
    url("./assets/fonts/PTSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "PTSans-Bold"; /*Can be any text*/
  src: local("PTSans-Bold"),
    url("./assets/fonts/PTSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "PTSans-Regular"; /*Can be any text*/
  src: local("PTSans-Regular"),
    url("./assets/fonts/PTSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "PTSans-Regular"; /*Can be any text*/
  src: local("PTSans-Regular"),
    url("./assets/fonts/PTSans-Regular.woff2") format("woff2");
}
