/* BREAKPOINTS */
$breakpoints: (
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$col-breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

@mixin xs {
  @media (min-width: map-get($col-breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($col-breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($col-breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($col-breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($col-breakpoints, "xl")) {
    @content;
  }
}

/// @media-query mobile first
/// @param {String} $breakpoint
/// @param {Object} @content
@mixin breakpoint-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

/// @media-query desktop first
/// @param {String} $breakpoint
/// @param {Object} @content
@mixin breakpoint-down($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

/// @media-query tablet
/// @param {String} $breakpointMin
/// @param {String} $breakpointMax
/// @param {Object} @content
@mixin breakpoint-between($breakpointMin, $breakpointMax) {
  @if map-has-key($breakpoints, $breakpointMin) and
    map-has-key($breakpoints, $breakpointMax)
  {
    @media (min-width: map-get($breakpoints, $breakpointMin)) and (max-width: map-get($breakpoints, $breakpointMax)) {
      @content;
    }
  }
}
