/* COLORS */

$color-primary: #ff7d00;
$color-secondary: #15616d;
$color-accent: #78290f;
$color-text: #001524;
$color-bg: #ffecd1;

/* Fonts */

$font-title: "Nunito-Bold";
$font-subtitle: "PTSans-Bold";
$font-text: "PTSans-Regular";
$font-accent: "Nunito-Medium";
