/* COLORS */
$color-primary: #0e2549;
$color-primary-100: #0f1f3b;
$color-primary-200: #0f192d;
$color-primary-300: #0e1320;
$color-primary-400: #070b14;

$color-secondary: #ff4700;
$color-secondary-100: #c83c09;
$color-secondary-200: #93300d;
$color-secondary-300: #61240e;
$color-secondary-400: #331709;

$color-text: #070b14;
$color-text-light: #fffcf9;
$color-white: #fff;
$color-black: #000;
$color-bg: #f1e9da;

/* FONTS */
$font-title: "Nunito-Bold";
$font-subtitle: "PTSans-Bold";
$font-text: "PTSans-Regular";
$font-accent: "Nunito-Medium";
